 
 <!-- Header -->
        <header id="neutral" class="center dark" data-overlay="8" style="background-image:url(img/headers/404.jpg)">
            <div class="header-in">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 center">
                                <h5>@ViewBag.Error</h5>
                                <h1>Something appears to be missing</h1>
                                <h4>We're sorry for the inconvenience, please use the button below to go back</h4>
                                <a onclick="history.go(-1)" class="btn"><span>Go back</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>