 
 <!-- Header -->
        <header id="neutral" class="center dark" data-overlay="8" style="background-image:url(img/headers/404.jpg)">
            <div class="header-in">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 center">
                                <h5>Erro interno</h5>
                                <h1>Ocorreu um erro ao processar a página</h1>
                                <h4>Pedimos desculpas pela inconveniência, por favor use o botão abaixo para voltar e tente novamente.</h4>
                                <a onclick="history.go(-1)" class="btn"><span>Voltar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>