<!-- Header -->
        <header id="sp2" class="center topo-clothes">
            <div class="header-in">
                <div class="caption">
                    <h5></h5>
                    <h1>Sobre</h1>
                    <h6>Conheça mais nossa empresa</h6>
                </div>
                <img class="arrow" src="~/img/arrow.svg" alt="">
            </div>
        </header> 
        <section>
            <div class="container">   
                    <p>A <b>INFOMERC</b> é a primeira empresa de inteligência de mercado dedicada totalmente ao setor Magistral. Criada em 2015 pelo administrador de empresas Cássio Dias, a empresa monitora todo o setor brasileiro e as 7 mil farmácias de manipulação para expor referências e traçar estratégias de mercado.</p>
                    <p>A ideia é garantir uma gestão orientada, com pleno conhecimento do setor e uso de novas tecnologias e processos. Com estas ferramentas em mãos, é possível solucionar problemas com criatividade e poucos recursos.</p>
                    <p>É sabido que para um negócio ser rentável e competitivo, é necessário mapear e conhecer o mercado que está inserido. A <b>INFOMERC</b>, a partir dos levantamentos que faz, fornece aos parceiros dados que vão orientar seus negócios.</p>
                    <p>Qual o tamanho e participação econômica do setor Magistral? Quais os produtos mais vendidos em cada região? Quais os valores? Onde exatamente a sua farmácia está posicionada no mercado? As respostas estão na <b>INFOMERC</b>, que entrega um business intelligence (B.I.) para você.</p>                   

                    <h3>Sobre o diretor</h3>
                    <p>Em 2014, quando migrou para o setor Magistral, notou a deficiência de dados específicos que detalhassem o universo das farmácias de manipulação. Foi então que, em 2015, decidiu criar a INFOMERC.</p>
                    <p>
                        De lá pra cá já são mais de 300 farmácias parceiras distribuídas por todo país.  
                    </p>
            </div> 

        </section> 
            <section class="grey">
            <div class="container">
                <div class="row m-space">
                    <div class="col-sm-6 mh image-fw">
                        <img src="https://static.wixstatic.com/media/237ca8_7e37fb0103f24195be25dd9c1c3676b7.jpg/v1/fill/w_140,h_146,al_c,q_80,usm_0.66_1.00_0.01/237ca8_7e37fb0103f24195be25dd9c1c3676b7.webp" alt="">
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 mh">
                        <div class="holder">
                            <div class="placer">
                                <h5>Fundador e Diretor Geral</h5>
                                <h2>Cassio Dias</h2>
                                <h6>
                                    Cássio Dias atua há 18 anos no setor da indústria farmacêutica. É formado em administração de empresas e tem experiência em cargos de gestão, área comercial, planejamento, inteligência de mercado e marketing.
                                </h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>