<header id="sp2" class="center topo-clothes">
    <div class="header-in">
        <div class="caption">
            <h5></h5>
            <h1>Login</h1>
            <h6>Faça seu login abaixo para ter acesso a Área do Cliente.</h6>
        </div>
        <img class="arrow" src="~/img/arrow.svg" alt="">
    </div>
</header>

<!-- Contact -->
<section id="c_contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 title">
                        <h2>Já possuí conta?</h2>
                        <h4>Use formulário abaixo para fazer login</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="login-form" method="post" action="@Url.Action("Login","Login")">
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-login-email" name="Email" type="email" placeholder="E-mail *" required="required"
                                           data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-login-senha" name="Senha" type="password" placeholder="Senha *" required="required"
                                           data-error="Password is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-login-lembrarme" name="lembrarme" type="checkbox" for="form-login-lembrarme"> <label>Lembrar-me</label>
                                </div>
                            </div>
                            <div class="col-sm-12 center">
                                <input type="submit" value="Login" style="width: 100%; cursor: pointer" id="btn-login-form">
                                <div class="messages"></div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 input-field">
                                <h4 class="text-center">Ou faça login pelas redes sociais</h4>
                                <button class="btn-social facebook">Login com Facebook</button>
                            </div>
                            <div class="col-md-12 input-field">
                                <button class="btn-social gplus">Login com Google+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h2 class="text-center ou-register-login">
                    Ou
                </h2>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 title">
                        <h2>Faça parte da nossa família!</h2>
                        <h4>Cadastre-se utilizando o formulário abaixo.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="register-form" method="post" action="@Url.Action("Login","Login")">
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-register-name" name="Nome" type="text" placeholder="Seu nome *" required="required"
                                           data-error="Nome obrigatório.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-register-email" name="Email" type="email" placeholder="Endereço de e-mail *" required="required"
                                           data-error="E-mail obrigatório.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-register-tel" name="Telefone" type="text" placeholder="Telefone" data-error="Telefone obritatório." required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-register-senha" name="Senha" type="password" placeholder="Your Password *" required="required"
                                           data-error="Senha obrigatório.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <select id="form-register-interesse" class="form-control" name="Interesse">
                                        <option>Buscador de Insumos</option>
                                        <option>Análise de Mercado</option>
                                        <option>Área vip</option>
                                        <option>Nenhum Produto</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="input-field col-sm-12">
                                <div class="form-group">
                                    <input id="form-registro-lembrarme" name="lembrarme" type="checkbox"> <label for="form-registro-lembrarme">Lembrar-me</label>
                                </div>
                            </div>
                            <div class="col-sm-12 center">
                                <input type="submit" value="Registre-se" style="width: 100%; cursor: pointer" id="btn-register-form">
                                <div class="messages"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section js{
    <script src="~/js/login/login.js"></script>
}