<!-- Header -->
<header id="creative">
    <div class="slideshow dark1" tabindex="0">
        <div class="slide slide--layout-1" data-layout="layout1">
            <div class="slide-imgwrap">
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/5.jpg);"></div>
                </div>
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/6.jpg);"></div>
                </div>
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/7.jpg);"></div>
                </div>
            </div>
            <div class="slide__title">
                <!-- <img src="img/logo-menor.png" alt="" width="100"> -->
                <h1>INTELIGÊNCIA DE MERCADO</h1>
                <h6>A INFOMERC é a primeira empresa do Brasil a monitorar o mercado magistral de forma continua!</h6>
            </div>
        </div>
        <div class="slide slide--layout-7" data-layout="layout7">
            <div class="slide-imgwrap">
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/8.png);"></div>
                </div>
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/9.png);"></div>
                </div>
                <div class="slide__img">
                    <div class="slide__img-inner" style="background-image: url(img/headers/slideshow/10.png);"></div>
                </div>
            </div>
            <div class="slide__title">
                <!--  <img src="img/logo-menor.png" alt="" width="100"> -->
                <h1>MONITORAMENTO</h1>
                <h6>Monitoramos mais de 3.000 insumos e 93 fornecedores/distribuidores, DIARIAMENTE.</h6>
            </div>
        </div>
        <div class="slide slide--layout-4" data-layout="layout4">
            <div class="slide-imgwrap">
                <div class="slide__img">
                    <div class="slide__img-inner">
                        <img src="~/img/headers/slideshow/tablet-white.jpg" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="slide__title">
                <!--  <img src="img/logo-menor.png" alt="" width="100"> -->
                <h1>DESCUBRA O MERCADO</h1>
                <h6>Os mais completos indicadores do mercado magistral.</h6>
            </div>
        </div>
        <div class="slideshow__nav slideshow__nav--arrows">
            <button id="next-slide" class="btn btn--arrow" aria-label="Next slide">
                <img src="img/arrow-right-b.svg" class="icon icon--next" alt="">
            </button>
            <button id="prev-slide" class="btn btn--arrow" aria-label="Previous slide">
                <img src="img/arrow-left-b.svg" class="icon icon--prev" alt="">
            </button>
        </div>
    </div>
</header>

<section class="dark1" style="background-image:url(img/app2/image5.png)">
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-5 mh">
                <div class="holder">
                    <div class="placer">
                        <h5>Dados @ViewBag.Nome</h5>
                        <h2>Big Data</h2>
                        <h6 class="text-almost-white">Somos a primeira empresa do setor magistral a trabalhar com Big Data</h6>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 mh image-fw">
                <img src="~/img/app2/image4.png" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container border">
        <div class="row m-space">
            <div class="col-sm-6 mh image-fw">
                <img src="~/img/app2/image1.png" alt="">
            </div>
            <div class="col-sm-5 col-sm-offset-1 mh">
                <div class="holder">
                    <div class="placer">
                        <h5>Analise</h5>
                        <h2>MONITOR DE PREÇOS</h2>
                        <h6>Saiba exatamente o preço praticado pelo mercado versus o SEU histórico de compras</h6>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container border">
        <div class="row m-space">
            <div class="col-sm-5 mh">
                <div class="holder">
                    <div class="placer">
                        <h5>Mercado</h5>
                        <h2>INFORMAÇÃO DE MERCADO</h2>
                        <h6>Somos a primeira empresa do segmento magistral a trabalhar com informação de mercado</h6>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 mh image-fw">
                <img src="~/img/app2/image3.png" alt="">
            </div>
        </div>
    </div>
</section>