@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Cadastro";
}
<!-- Header -->
<header id="sp2" class="center topo-clothes">
    <div class="header-in">
        <div class="caption">
            <h5></h5>
            <h1>Cadastro</h1>
            <h6>Termine o cadastro abaixo</h6>
        </div>
        <img class="arrow" src="~/img/arrow.svg" alt="">
    </div>
</header>
<section>
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <h4>Associe sua contas @ViewData["LoginProvider"].</h4>
        <hr />

        <p class="text-info">
            Sua autenticação com <strong>@ViewData["LoginProvider"]</strong> foi efetuada com sucesso.
            Por favor verifique os dados abaixo e confirme seu cadastro.
        </p>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
