<!-- Header -->
<header id="sp2" class="center" style="background: url(https://image.freepik.com/free-vector/technology-triangles-background_1017-2455.jpg); background-size: cover;">
    <div class="header-in">
        <div class="caption">
            <h5>Minha Área</h5>
            <h1>Bem-vindo Marcus Toloto!</h1>
            <h6>Navegue abaixo para acessar nossos dados.</h6>
        </div>
        <img class="arrow" src="~/img/arrow.svg" alt="">
    </div>
</header>


<!-- Icon Block -->
<section class="iconblock center">
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-4">
                <i class="ion-ios-analytics"></i>
                <h3>Buscador de insumos</h3>
                <p>
                    Lorem ipsum dolor amet consectetuer adipiscing dolut nonummy
                    adpiscing
                </p>
            </div>
            <div class="col-sm-4">
                <i class="ion-ios-pulse"></i>
                <h3>Interação do Mercado Magistral</h3>
                <p>
                    Lorem ipsum dolor amet consectetuer adipiscing dolut nonummy
                    adpiscing
                </p>
            </div>
            <div class="col-sm-4">
                <i class="ion-ios-stopwatch-outline"></i>
                <h3>Área Vip</h3>
                <p>
                    Você ainda não tem acesso à área vip.<br /> <a href="@Url.Action("Index", "AreaVip")">Clique aqui para obter acesso</a>
                </p>
            </div> 
            @*<div class="col-md-12">
                <iframe src="https://app.powerbi.com/view?r=eyJrIjoiOThiMjlmMWEtY2U3Yy00NTAyLTk5YjQtYjBiYzE1Y2MyZDAxIiwidCI6IjAyYTBiYzQ3LTNkNDctNDg0My1hMGQ2LWE3MDNmODZlOTY2MyIsImMiOjR9" width="100%" height="500"></iframe>
            </div>*@
        </div>
    </div>
</section>