<!-- Header -->
<header id="sp2" class="center topo-clothes">
    <div class="header-in">
        <div class="caption">
            <h5>Minha Área</h5>
            <h1>Bem-vindo @ViewBag.Nome!</h1>
            <h6>&nbsp;</h6>
        </div>
        <img class="arrow" src="~/img/arrow.svg" alt="">
    </div>
</header>

<!-- Icon Block -->
<section class="iconblock center">
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-12">

                <h3>Buscador de insumos</h3>
                <p>
                    Procure abaixo o insumo que deseja
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiOThiMjlmMWEtY2U3Yy00NTAyLTk5YjQtYjBiYzE1Y2MyZDAxIiwidCI6IjAyYTBiYzQ3LTNkNDctNDg0My1hMGQ2LWE3MDNmODZlOTY2MyIsImMiOjR9" width="100%" height="600"></iframe>
    </div>
</section>
