<!-- Header -->
<header id="sp2" class="center" style="background: url(https://image.freepik.com/free-vector/technology-triangles-background_1017-2455.jpg); background-size: cover;">
    <div class="header-in">
        <div class="caption">
            <h5></h5>
            <h1>Produtos</h1>
            <h6>Saiba o que temos a oferecer para você</h6>
        </div>
        <img class="arrow" src="~/img/arrow.svg" alt="">
    </div>
</header>   


    <section class="dark1" style="background-image:url(img/app2/image5.png)">
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-12 mh">
                <div class="holder">
                    <div class="placer">
                        <h5>Produtos</h5>
                        <h2>A INFOMERC</h2>
                        <h6 class="text-almost-white">Fazemos um verdadeiro Raio X do seu negócio e do mercado. Em uma única base de dados, colocamos as informações que recebemos mensalmente sobre o mercado e sobre as farmácias parceiras, como insumos, preços e movimentação. Em nossa base de dados, as medidas são equiparadas e as nomenclaturas de insumos padronizadas. Tudo é analisado com o que há de mais moderno em tecnologia, respeitando todos os critérios de segurança e isenção.</h6>
                        
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>



<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>A partir da nossa base de dados, nossos clientes têm acesso a:</h2> 
            </div>
        </div> 
</section>




<section>
    <div class="container border">
        <div class="row m-space">
            <div class="col-sm-5 mh">
                <div class="holder">
                    <div class="placer"> 
                        <h2>Ranking de insumos</h2>
                        <h6>Essa ferramenta permite que nosso cliente saiba quais são os insumos mais vendidos em sua região e a partir desses dados poderá traçar uma tendência de quais produtos são os mais procurados e comprados pelo consumidor nas farmácias de manipulação. Isso vai evitar que faltem no estoque de sua farmácia os insumos necessários para atender seus consumidores. </h6>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 mh image-fw">
                <img src="http://placehold.it/600x600" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-6 mh image-fw">
                <img src="http://placehold.it/600x600" alt="">
            </div>
            <div class="col-sm-5 col-sm-offset-1 mh">
                <div class="holder">
                    <div class="placer"> 
                        <h2>Monitor de preços</h2>
                        <h6>Nosso Monitor de preços tem mais de 3 mil insumos cadastrados. O preço de cada um deles é atualizado diariamente. Com ele, você fica sabendo exatamente quanto os fornecedores cobram pela matéria prima e pode comparar com o quanto você paga por eles. Além disso, tem acesso a uma lista de fornecedores. O Monitor de preços te ajuda a tornar seu negócio mais rentável, evitando prejuízos.</h6>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container border">
        <div class="row m-space">
            <div class="col-sm-5 mh">
                <div class="holder">
                    <div class="placer"> 
                        <h2>Alerta de preços</h2>
                        <h6>Quais os insumos mais baratos? Quais sofreram reajuste? No Alerta de preços, você têm acesso a essas informações e poderá com esses dados ajustar seus custos e definir suas estratégias de compra.</h6>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 mh image-fw">
                <img src="http://placehold.it/600x600" alt="">
            </div>
        </div>
    </div>
</section>


    <section>
    <div class="container">
        <div class="row m-space">
            <div class="col-sm-6 mh image-fw">
                <img src="http://placehold.it/600x600" alt="">
            </div>
            <div class="col-sm-5 col-sm-offset-1 mh">
                <div class="holder">
                    <div class="placer"> 
                        <h2>Desempenho de compras</h2>
                        <h6>Com essa ferramenta, nossos clientes conseguem identificar os principais fornecedores e o desempenho de cada um deles no mercado. O que mais vendem: itens exclusivos ou commodities? Também é possível saber o prazo médio de entrega de cada um. Assim, você poderá comparar os fornecedores que usa com outros do mercado e planejar melhor as suas compras.</h6>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
